.myorder-card{
    border:1px solid black;
    margin: 5px;
    background-color: rgb(248, 215, 124);
    border-radius: 10px;
}
.statusPe{
    background-color: rgb(240, 88, 88);
    width:80%;
    margin: auto;
}
.statusAc{
    background-color: rgb(1, 143, 8);
    color:white;
    width:80%;
    margin: auto;
}